.header {
  position: fixed;
  width: 100%;
  height: 80px;
  background: #fff;
  top: 0;
  opacity: 0.95;
}

.header-logo {
  float: left;
  display: inline;
  height: 80px;
}

.header-logo-image {
  height: 80px;
}

.header-nav {
  float: right;
  vertical-align: baseline;
  line-height: 40px;
}

.header-nav-item {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  display: inline-block;
}

.header-nav-link {
  text-decoration: none;
  color: gray;
  font-weight: bold;
}

.header-nav-link:hover {
  color: #333;
  transition: all ease .3s;
}

@media (max-width: 640px) {
  .header {
    position: inherit;
    width: auto;
    background: #fff;
    top: auto;
    opacity: 1;
  }

  .header-nav,
  .header-logo {
    float: none;
  }

}

@media (max-width: 360px) {
  .header-nav-item {
    display: block;
  }
}
